.main-chat
  .main-header
    .main-header__left-box
      .main-header__left-box__message
        = @group.name
      %ul.main-header__left-box__member
        member:
        - @group.users.each do |user|
          %li.list
            = user.name
    .main-header__edit-btn
      = link_to "Edit", edit_group_path(@group), class: "a"
  .messages
    = render @messages
     .fail(function() {
      alert("メッセージ送信に失敗しました");
  });
  .footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'    
        


  